#root {
    width: 100%;
    height: 100%;
}

.main {
    color: #2b283a;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    padding: 1px 3%;
    flex:1;
}

.dark .main {
    color: #fff;
    background-color: #282d35;
}

.main h1 {
    font-weight: 700;
}

.facts-list li::marker {
    color: #00abca;
    font-size: 1.4rem;
}

.dark .facts-list li::marker {
    color: #61dafb;
    font-size: 1.4rem;
}

.facts-list li:not(:last-child) { 
    margin-bottom: 10px;
}